{% extends "base_generic.html" %}

{% comment %}
Template for searching through projects
Author Per-Henrik Kvalnes 2014
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block content %}
<table>
<form method="GET">
<tr>
<td>{% blocktrans %}Search {% endblocktrans %}</td>
</tr>
<tr>
  <td><input name='tags'></input></td>
  <td><input type="submit"></input></td>
</tr>
</table>
</form>
<hr/>

{% if results %}
<!-- title results -->
{% if titles %}
<table id="titleResults">
{% for project in titles %}
<tr>
  <td>{{project.name}}</td>
{% endfor %}
</table>
{% endif %}

<!-- tag results -->
{% if tags %}
<table id="searchResults">
<tr>
<td>{% blocktrans %}Project name{% endblocktrans %}</td>
<td>{% blocktrans %}Tag matched{% endblocktrans %}</td>
{% for tag in tags %}

<tr>
  <td>
    <a href="{% url 'learningbucket.views.project' %}?id={{tag.project.id}}">
      {{tag.project.name}}</a></td>
  <td>{{tag.tag}}</td>
  
</tr>

{% endfor %}

</table>
{% endif %}

<!-- user results -->
{% if users %}
<table>
<tr>
  <td>{% blocktrans %}Name{% endblocktrans %}</td>
</tr>
{% for usr in users %}
<tr>
  <td>
    <a href="{% url 'profilebucket.views.profile' %}?id={{usr.id}}">
    {{usr.first_name}} {{usr.last_name}}</a></td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endif %}
{% endblock %}

