{% extends "base_generic.html" %}

{% comment %}
Template for searching through projects
Author Per-Henrik Kvalnes 2014
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block content %}
<table>
<form method="GET">
<tr>
<td>{% blocktrans %}Search {% endblocktrans %}</td>
</tr>
<tr>
  <td><input name='tags'></input></td>
  <td><input type="submit"></input></td>
</tr>
</table>
</form>
<hr/>

{% if results %}

{% if projects %}
<table id="results">
{% for project in projects %}

<tr>

  <td><a href="{% url 'learningbucket.views.project' %}?id={{project.id}}">{{project.name}}</a></td>
  <td>{{project.priority}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

<!-- user results -->
{% if users %}
<table>
<tr>
  <td>{% blocktrans %}Name{% endblocktrans %}</td>
</tr>
{% for usr in users %}
<tr>
  <td>
    <a href="{% url 'profilebucket.views.profile' %}?id={{usr.id}}">
    {{usr.first_name}} {{usr.last_name}}</a></td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endif %}
{% endblock %}

