{% extends "base_generic.html" %}

{% comment %}
Template for searching through projects
Author Per-Henrik Kvalnes 2014
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block customhead %}
<link href="{% static 'css/search.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block content %}
<table>
<form method="GET">
<tr>
<td>{% blocktrans %}Search {% endblocktrans %}</td>
</tr>
<tr>
  <td><input name='tags'></input></td>
  <td><input type="submit" value="{% blocktrans %}Search{% endblocktrans %}"></input></td>
</tr>
</table>
</form>
<hr/>

{% if results %}

{% if projects %}

{% for project in projects %}

<div class="searchEntry">
  <h2><a href="{% url 'learningbucket.views.project'%}?id={{project.id}}">
      {{project.name}}</a></h2><hr/>
  <p>{{project.description}} 
    <span class="comment">- {% blocktrans %}Project owned by{% endblocktrans %} 
      {{project.owner.first_name}} {{project.owner.last_name}}</span></p>

</div>
{% endfor %}

{% endif %}

<!-- user results -->
{% if users %}
{% for usr in users %}
<div class="searchEntry">

  <h2> <a href="{% url 'profilebucket.views.profile' %}?id={{usr.id}}">{{usr.first_name}} {{usr.last_name}}</a></h2>
 <hr/>
 <p>{% blocktrans %}Email: {% endblocktrans %} <a href="mailto:{{usr.email}}">{{usr.email}}</a></p>
</div>
{% endfor %}

{% endif %}
{% else %}
<!-- if no results are given, show buttons -->
<p>{% blocktrans %}Search for a tag or project title in the box over, or use some of these predefined lookups.{% endblocktrans %}</p>
<nav>
  <a href="{% url 'searchbucket.views.topTags' %}"/>
  <input value="{% blocktrans %}Most used tags{% endblocktrans %}" type="button"></input></a>
</nav>
{% endif %}
{% endblock %}

