{% extends "base_generic.html" %}

{% comment %}
Template for searching through projects
Author Per-Henrik Kvalnes 2014
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block customhead %}
<link href="{% static 'css/search.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block content %}
{% if skills %}
<h1>{% blocktrans %}People with the similar skill to {% endblocktrans %}{{skill}}</h1>
<table>
  {% for s in skills %}
  <tr>

    <td><a href="{% url 'profilebucket.views.profile' %}?id={{s.user.id}}">
	{{s.user.first_name}} {{s.user.last_name}}</a></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>{% blocktrans %}No user was found with skill:{% endblocktrans %} {{skill.skill}}</p>
{% endif %}
{% endblock %}

