{% comment %}
Send a lostpassword link
Author Per-Henrik Kvalnes, 2014
{% endcomment %}

{% load i18n %}
{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% blocktrans %}app-title{% endblocktrans %}</title>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" type="text/css"
	  href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" type="text/css"
	  href="{% static 'css/project.css' %}"/>
    {% block customhead %}
    {% endblock %}
  </head>
  <body>
    <header>
    </header>
    <nav id="topMenu">
      <a href="{% url 'learningbucket.views.login_view' %}">
	{% blocktrans %}Back to login{% endblocktrans %}
      </a>
    </nav>
    <section>
    <div id="content">
      {% if email %}
      <p>{% blocktrans %}An email was sent if it exists in the system{% endblocktrans %}</p>
      {% else %}
      <p>{% blocktrans %}Enter your email and press the button{% endblocktrans %}</p>
      {% if not_valid_mail %}
      <p style="color:red">{% blocktrans %}You must enter a valid email{% endblocktrans %}</p>
      {% endif %}
      <form method="POST">
	{% csrf_token %}
	<input name="email">{% blocktrans %}Email{% endblocktrans %}</input><br/>
	<input type="submit" value="{% blocktrans %}Send a new password{% endblocktrans %}"></input>
      </form>
      {% endif %}
      
    </div>
    </section>
    <footer>
      
    </footer>
  </body>
</html>
