{% extends "base_generic.html" %}


{% comment %}
Change a users profile information
@author Per-Henrik Kvalnes 2014
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block content %}

<form method="POST" >
  {% csrf_token %}
  <table>
    <tr>
      <td><input name="first_name" value="{{user.first_name}}"/></td>
      <td>{% blocktrans %}First name{% endblocktrans %}</td>
    </tr>
    <tr>
      <td><input name="last_name" value="{{user.last_name}}"/></td>
      <td>{% blocktrans %}Last name{% endblocktrans %}</td>
    </tr>
    <tr>
      <td><textarea name="last_name" value="{{user.last_name}}">{{user_profile.bio}}</textarea></td>
      <td>{% blocktrans %}Biography{% endblocktrans %}</td>
    </tr>
  </table>
</form>


{% endblock %}
