{% extends "base_generic.html" %}


{% comment %}
Change password template
@author Per-Henrik Kvalnes 2014
{% endcomment %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

{% if password_failed %}
<p>{% blocktrans %}The passwordfields must be equal. Please try again.{% endblocktrans %}</p>
{% endif %}

{% if password_succes %}
<p>{% blocktrans %}Your password has been changed!{% endblocktrans %}</p>


{% comment %}
The rest is shown if password change did is not success 
{% endcomment %}
{% else %}
<form method="POST" >
  {% csrf_token %}
  <table>
    <tr>
      <td><input name="password1" type="password"/></td>
      <td>{% blocktrans %}Enter a new password{% endblocktrans %}</td> 
  </tr>
<tr>
  
  <td><input name="password2" type="password"/></td>
  <td>{% blocktrans %}Enter the new password again {% endblocktrans %}</td> 
  </tr>
<tr>
  <td><input type="submit" value="{% blocktrans %}Save{% endblocktrans %}"/></td>
</tr>
  </table>
</form>
{% endif %}

{% endblock %}
