{% extends "profile_template.html" %}


{% comment %}
Display a user profile main entries. 
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block profile_content %}
<table id="profile_info">
  <tr>
    <td>{% blocktrans %}Email{% endblocktrans %}</td>
    <td>{{user_auth.email}}</td>
  </tr>
  <tr>
    <td>{% blocktrans %}Biography{% endblocktrans %}</td>
    <td>{{user_profile.bio}}</td>
  </tr>
</table>

{% if skills %}

<h1>{% blocktrans %}Skills{% endblocktrans %}</h1>
<div class="skillSet">
  {% for skill in skills %}
  <a href="{% url 'searchbucket.views.usersSkill' %}?search={{skill.skill}}"/>
  <span class="skill">
    {{skill.skill}}
    {% if is_owner %}
    <button class="deleteButton">X</button>
    {% endif %}
  </span>
</a>
{% endfor %}
</div>
{% endif %}

{% if is_owner %}
<form action="{% url 'profilebucket.views.profile_add_skill' %}" method="POST">
{% csrf_token %}
<input name="skill"/>
<input type="submit" value="{% blocktrans %}Add skill{% endblocktrans %}"/>
</form>
{% endif %}
{% endblock %}
