{% extends "profile_template.html" %}


{% comment %}
Display a user profile main entries. 
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block profile_content %}

{% if projects %}
<p>{{user_auth.first_name}}'s {% blocktrans %}projects{% endblocktrans %}</p>
<table>
{% for project in projects %}
<tr>
    <td><a href="{% url 'learningbucket.views.project' %}?id={{project.id}}">{{project.name}}</a></td>
</tr>
{% endfor %}
{% else %}
{{user_auth.first_name}} {% blocktrans %}has no projects!{% endblocktrans %}
{% endif %}
</table>
{% endblock %}
