{% extends "base_generic.html" %}


{% comment %}
Menu for the profile. 
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block content %}

<nav>
  <a href="{% url 'profilebucket.views.profile' %}?id={{user.id}}">
    <input value="{% blocktrans %}View your profile{% endblocktrans %}" type="button"/>
  </a> </br>
    
  <a href="{% url 'profilebucket.views.profile_change_password' %}">
    <input value="{% blocktrans %}Change password{% endblocktrans %}" type="button"/>
  </a></br>
  
  <a href="{% url 'profilebucket.views.profile_update' %}">
    <input value="{% blocktrans %}Edit profile{% endblocktrans %}" type="button"/>
  </a><br/>
  <a href="{% url 'profilebucket.views.project_uploadimage' %}">
    <input type="button" value="{% blocktrans %}Upload profile image{% endblocktrans %}"/>
  </a>
</nav>

{% endblock %}
