{% comment %}
Send a lostpassword link
Author Per-Henrik Kvalnes, 2014
{% endcomment %}

{% load i18n %}
{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% blocktrans %}app-title{% endblocktrans %}</title>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" type="text/css"
	  href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" type="text/css"
	  href="{% static 'css/project.css' %}"/>
    {% block customhead %}
    {% endblock %}
  </head>
  <body>
    <header>
    </header>
    <nav id="topMenu">
      <a href="{% url 'learningbucket.views.login_view' %}">
	{% blocktrans %}Back to login{% endblocktrans %}
      </a>
    </nav>
    <section>

      {% if success %}
      <h1>{% blocktrans %}You have successfully created an user{% endblocktrans %}</h1>
      <p>{% blocktrans %}An email has been sent to {{usr.email}}. Please check your email 
	and confirm your user acount. You wil not be able to login before this is done.{% endblocktrans %}</p>
      {% else %}
      <h1>{% blocktrans %}Create a new user{% endblocktrans %}</h1>
      {% if not_valid %}
      <p style="color:red;">{{not_valid}}</p>
      {% endif %}
      <form method="POST">
	{% csrf_token %}
	<table style="margin-left:auto; margin-right:auto;">
	  <tr>
	    <td><input name="first_name"/></td>
	    <td><p>{% blocktrans %}First name{% endblocktrans %}</p></td>
	  </tr>
	  <tr>
	    <td><input name="last_name"/></td>
	    <td><p>{% blocktrans %}Last name{% endblocktrans %}</p></td>
	  </tr>
	  <tr>
	    <td><input name="email"/></td>
	    <td><p>{% blocktrans %}Email{% endblocktrans %}</p></td>
	  </tr>
	  <tr>
	    <td><input name="pwd1" type="password"/></td>
	    <td><p>{% blocktrans %}Password{% endblocktrans %}</p></td>
	  </tr>
	  <tr>
	    <td><input name="pwd2" type="password"/></td>
	    <td><p>{% blocktrans %}Retype password{% endblocktrans %}</p></td>
	  </tr>
	  <tr>
	    <td><input type="submit" 
		       value="{% blocktrans %}Create user{% endblocktrans %}"/></td>
	  </tr>
	</table>
      </form>
      {% endif %}
    </section>
    <footer>
      
    </footer>
  </body>
</html>
