{% extends "base_generic.html" %}


{% comment %}
Menu for the profile. 
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block content %}

<nav>
  <a href="{% url 'profilebucket.views.profile' %}?id={{user.id}}">
    <button type="button">{% blocktrans %}View your profile{% endblocktrans %}</button>
  </a> </br>
    
  <a href="{% url 'profilebucket.views.profile_change_password' %}">
    <button type="button">{% blocktrans %}Change password{% endblocktrans %}</button>
  </a></br>
  
  <a href="{% url 'profilebucket.views.profile_update' %}">
    <button type="button">{% blocktrans %}Edit profile{% endblocktrans %}</button>
  </a><br/>
  <a href="{% url 'profilebucket.views.project_uploadimage' %}">
    <button type="button">{% blocktrans %}Upload profile image{% endblocktrans %}</button>
  </a>
</nav>

{% endblock %}
