/************************************
 * Styling the profile sites
 * 
 * @author Per-Henrik Kvalnes 2014
 ************************************/

#profile_header
{
    position:relative;
    backgorund:rgba(0,0,0,0.1);
    width:90%;
}

#profile_header img
{
    width:128px;
    border-radius:5px;
    background-color:white;
}
#profile_header p
{
    position:absolute;
    bottom:4px;
    right:5px;
    font-size:22px;
    margin:0px;
}
#profile_info
{
    margin-top:20px;
}
#profile_info td
{
    padding-right:16px;
    
}
#profile_info td:first-child
{
    font-weight:bold;
}
/*****************
 * Style skills 
 *****************/
.skillSet
{
    margin-bottom:25px;
}
.skillSet a
{
    text-decoration:None;
    color:#FFF;
}
.skill
{
    position:relative;
    padding:8px;
    margin-right:15px;
    background-color:#81A9E1;
    font-family:monospace;
    font-weight:bold;
    box-shadow:1px 1px 5px;
}
.deleteButton
{
    position:aboslute;
    right:2px;
    left:auto;
    top:2px;
    bottom:2px;
    font-size:10px;
}