/************************************
 * Styling the profile sites
 * 
 * @author Per-Henrik Kvalnes 2014
 ************************************/

#profile_header
{
    position:relative;
    backgorund:rgba(0,0,0,0.1);
    width:90%;
}

#profile_header img
{
    width:128px;
    border-radius:5px;
    background-color:white;
}
#profile_header p
{
    position:absolute;
    bottom:4px;
    right:5px;
    font-size:22px;
    margin:0px;
}
