/************************************
 * Styling the profile sites
 * 
 * @author Per-Henrik Kvalnes 2014
 ************************************/

#profile_header
{
    position:relative;
    backgorund:rgba(0,0,0,0.1);
    width:90%;
}

#profile_header img
{
    width:128px;
    border-radius:5px;
    background-color:white;
}
#profile_header p
{
    position:absolute;
    bottom:4px;
    right:5px;
    font-size:22px;
    margin:0px;
}
#profile_info
{
    margin-top:20px;
}
#profile_info td
{
    padding-right:16px;
    
}
#profile_info td:first-child
{
    font-weight:bold;
}
/*****************
 * Style skills 
 *****************/
.skillSet
{
    padding:10px;
    margin-bottom:20px;
}
.skillSet a
{
    text-decoration:None;
    color:#FFF;
}
.skill
{
    position:relative;
    padding:10px;
    margin:5px;
    width:200px;
    background-color:#003283;
    font-family:monospace;
    font-weight:bold;
    box-shadow:1px 1px 5px;
    display:inline-block;
}
.skill:hover{background-color:#81A9E1;}

.deleteButton
{
    position:relative;
    right:45px;

    top:0px;
    bottom:0px;
    background-color:#555;
    font-size:20px;
    
    padding:6px;
}
.deleteButton:hover
{
    background-color:#000;
}
.skillText
{
    margin-top:2px;
    margin-bottom:2px;
    font-size:20px;
    margin-right:15px;
}