{% comment %}
Base generic genereate the main structure of
the html file.

Author Per-Henrik Kvalnes, 2014
{% endcomment %}

{% load i18n %}
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% blocktrans %}app-title{% endblocktrans %}</title>
    <meta charset="UTF-8"></meta>
    <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css"
	  href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" type="text/css"
	  href="{% static 'css/project.css' %}"/>
    {% block customhead %}
    {% endblock %}
  </head>
  <body>
    <header>
      <img src="{% static 'img/logo_topbar.png' %}"></img>
    </header>
    <nav id="topMenu">
      <a href={% url 'learningbucket.views.myprojects' %}>
	{% trans "Projects" %}</a> 
      <a href={% url 'learningbucket.views.project_traffic' %}>
	{% trans "Traffic Hall" %}</a> 
      <a href={% url 'searchbucket.views.searchProjects' %}>
	{% trans "Search" %}</a> 
      <a href={% url 'profilebucket.views.profile_menu' %}>
	{% trans "Profile" %}</a> 
      <a href={% url 'learningbucket.views.logout_view' %}>
	{% trans "Logout" %}</a> 

    </nav>
    <section>
    <div id="content">
      {% block content %}
      {% endblock %}
      
    </div>
    </section>
    <footer>
      
    </footer>
  </body>
</html>
