{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% trans "app-title" %}</title>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" type="text/css"
	  href="{%static 'css/default.css' %}"/>
  </head>
  <body>
    <header>

    </header>
    <nav>
      <a href={% url 'learningbucket.views.myprojects' %}>
	{% trans "My Projects" %}</a> 

      <a href={% url 'learningbucket.views.createproject' %}>
	{% trans "Create project" %}</a> 
    </nav>
    <section>
    <div id="content">
      {% block content %}
      {% endblock %}
      
    </div>
    </section>
    <footer>
      
    </footer>
  </body>
</html>
