{% extends "base_generic.html" %}
{% comment %}
Template for create project form.
Connected to learingbucket.views.createproject

Author Per-Henrik Kvalnes, 2014
{% endcomment %}
{% load i18n %}


{% block content %}
<h1>{% trans "Create project" %}</h1>
<form method="POST">
  {% csrf_token %}
  <input name="name">{% trans "Name" %}</input><br/>
  <input name="organization">{% trans "Organization" %}</input><br/>
  <textarea name="description">{% trans "Description" %}</textarea><br/>
  <br/>
  <input type="submit"></input>
</form>
{% endblock %}

