{% comment %}
Login template.
Do not extend the base template!
Connected to learningbucket.views.login_view

Author Per-Henrik Kvalnes, 2014
{% endcomment %}

{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css"
	href="{% static 'css/default.css'%}"/>
</head>

<body>
  <header>
  </header>
  <section>
<object data="{% static 'img/logo.svg' %}" type="image/svg+xml">
   <img src="{% static 'img/logo.png' %}"/>
</object>

    

    <form method="POST">
      {% csrf_token %}
       <h1>{% trans "Login" %}</h1>
       <table id="loginTable">
	 <tr>
	   <td><input name="username"></input></td>
	   <td>{% trans "Username" %}</td>
	 </tr>
	 <tr>
	   <td><input name="pass" type="password"></input></td>
	   <td>{% trans "Password" %}</td>
	 </tr>
	 <tr>
	   <td><input type="submit"></input></td>
	 </tr>
    </form>
  </section>
  <footer>
  </footer>
</body>


