{% extends "base_generic.html" %}

{% comment %}
Display 'my projects'. Connected with view.myprojects
Author Per-Henrik Kvalnes, 2014
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}


{% block content %}
<nav>
      <a href={% url 'learningbucket.views.createproject' %}>
	<input value="{% trans "Create project" %}" type="button"/></a> 
</nav>
<h1>{% blocktrans %}My projects{% endblocktrans %}</h1>
<div id="myProjectList">
{% for project in projects %}

<div class="projectMiniDisplay">
<a href="{% url 'learningbucket.views.project'%}?id={{project.id}}" >
  <img src="{% static 'img/default-project.png' %}"></img>
  <p>{{project.name}}</p>
</a>
</div>

{% endfor %}
</div>
{% endblock %}

