{% extends "base_generic.html" %}

{% comment %}
Display 'my projects'. Connected with view.myprojects
Author Per-Henrik Kvalnes, 2014
{% endcomment %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
<h1>{% trans "My projects" %}</h1>
<div id="myProjectList">
{% for project in projects %}

<div class="projectMiniDisplay">
<a href="{% url 'learningbucket.views.project'%}?id={{project.id}}" >
  <img src="{% static 'img/default-project.png' %}"></img>
  <p>{{project.name}}</p>
</a>
</div>

{% endfor %}
</div>
{% endblock %}

