{% extends "base_generic.html" %}
{% comment %}
A generic error template for users loged in!
Author Per-Henrik Kvalnes, 2014
{% endcomment %}
{% load i18n %}
{% load url from future %}

{% block content %}
<h1>{% blocktrans %}Something went worng! {% endblocktrans %}</h1>
<p>{{message}}</p>
<br\>
<nav class="menu">
<a onclick="window.history.back()">
{% blocktrans %}Back{% endblocktrans %}
</a>
<a href="{% url 'learningbucket.views.myprojects' %}">
{% blocktrans %}Back to my projects {% endblocktrans %}
</a>
</nav>
{% endblock %}

