{% extends "base_generic.html" %}
{% comment %}
Display information of one project.
Connected to learningbucket.views.project

Author Per-Henrik Kvalnes, 2014
{% endcomment %}
{% load i18n %}


{% block content %}
<table>
<tr>
<td>{% blocktrans %}Name{% endblocktrans %}</td><td>{{project.name}}</td>

</td>
<tr>
  <td>{% blocktrans %}Project owner: {% endblocktrans %}</td>
 <td>
  {{project.owner.first_name}} {{project.owner.last_name}}
 </td>
</tr>
<tr>
<td>
{% blocktrans %}Organization {% endblocktrans %}</td>
<td>  {{project.organization}}</td>
<tr>
  <td>{% blocktrans %}Description{% endblocktrans %}</td>
  <td>{{project.description}}</td>
</tr>
</table>

<a 
   href="{% url 'learningbucket.views.project_upload_file'%}?id={{project.id}}" >

{% blocktrans %}Upload file{% endblocktrans %}</a>

{% for file in files %}
<p>{{ file.name}}</p>
{% endfor %}


{% endblock %}

