{% extends "base_generic.html" %}
{% comment %}
Display information of one project.
Connected to learningbucket.views.project

Author Per-Henrik Kvalnes, 2014
{% endcomment %}
{% load i18n %}


{% block content %}
<!-- Project info section -->
<div class="subsection">
<h1>{% blocktrans %}Project information {% endblocktrans %}</h1>
<table>
<tr>
<td>{% blocktrans %}Name{% endblocktrans %}</td><td>{{project.name}}</td>

</td>
<tr>
  <td>{% blocktrans %}Project owner: {% endblocktrans %}</td>
 <td>
  {{project.owner.first_name}} {{project.owner.last_name}}
 </td>
</tr>
<tr>
<td>
{% blocktrans %}Organization {% endblocktrans %}</td>
<td>  {{project.organization}}</td>
<tr>
  <td>{% blocktrans %}Description{% endblocktrans %}</td>
  <td>{{project.description}}</td>
</tr>
</table>
</div>


<!-- File section section -->
<div class="subsection">
<h1>{% blocktrans %}Uploaded files{% endblocktrans %}</h1>
{% if is_owner %}
<nav>
<a 
   href="{% url 'learningbucket.views.project_upload_file'%}?id={{project.id}}" >

{% blocktrans %}Upload file{% endblocktrans %}</a>
</nav>
{% endif %}
<table>
<tr>
<td>{% blocktrans %}Name{% endblocktrans %}</td>
<td>{% blocktrans %}File type{% endblocktrans %}</td>
{% for file in files %}
<tr>
<td>
<a href="{% url 'learningbucket.views.project_download_file' %}?file_id={{file.id}}">
{{ file.name}}
</a>
</td>
<td>{{ file.filetype}}</td>
</tr>
{% endfor %}
</table>
</div>

<!-- Comment section -->
<div class="subsection">
  <h1>{% blocktrans %}Comments{% endblocktrans %}</h1>
  {% for c in comments %}
  <div class="comment">
    <p><b>{{c.owner.first_name}} {{c.owner.last_name}}: </b>
      {{c.comment}}</p>
  </div>
  {% endfor %}
  <form method="POST" 
	action="{% url 'learningbucket.views.project_post_comment' %}">
    {% csrf_token %}

    <input name="id" hidden="true" value="{{project.id}}"/>
    <input name="comment"></input>
    <input type="submit"></input>
  </form>
</div>
{% endblock %}

