{% extends "base_generic.html" %}
{% load i18n %}


{% block content %}
<h1>{% blocktrans %}Upload a file to project.{% endblocktrans %}</h1>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input name="project_id" value="{{project_id}}"/ hidden="true"><br/>
  <input name="name" value="">
  {% blocktrans %}Name{% endblocktrans %}</input><br/>
  <input type="file" name="projectFile"/ id="projectFile"><br/>
  <select name="filetype">
    <option value="SCORM">
      {% blocktrans %}SCORM{% endblocktrans %}</option>
    <option value="zip">
      {% blocktrans %}Zip{% endblocktrans %}</option>
    <option value="image">
      {% blocktrans %}Image{% endblocktrans %}</option>
    <option value="story">
      {% blocktrans %}Storyline{% endblocktrans %}</option>
    <option value="flash">
      {% blocktrans %}Flash{% endblocktrans %}</option>
    <option value="other">
      {% blocktrans %}Other{% endblocktrans %}</option>
  </select></br>

  <input type="submit"/>
</form>

{% endblock %}

