{% extends "base_generic.html" %}

{% comment %}
Display the lates updateds on projects following
Author Per-Henrik Kvalnes, 2014
{% endcomment %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block customhead %}
<link rel="stylesheet" type="text/css" 
      href="{% static 'css/traffichall.css' %}"/>
{% endblock %}

{% block content %}
<h1>{% blocktrans %}Traffic Hall{% endblocktrans %}</h1>
<p>{% blocktrans %}Projects you are participating to{% endblocktrans %}</p>

{% for participant in participants %}
<div class="entry">
  <p>
    <a href="{% url 'learningbucket.views.project' %}?id={{participant.project.id}}">
      {{participant.project.name}}</a> {% blocktrans %}has been updated by{% endblocktrans %}
    <a href="{% url 'profilebucket.views.profile' %}?id={{participant.project.owner.id}}">
      {{participant.project.owner.first_name}}
      {{participant.project.owner.last_name}}</a></p>
  <p>{{participant.project.timeupdated}}</p>
</div>
{% endfor %}
{% endblock %}

