/*********************************************
 * Default CSS for all LearningHub sites 
 * @author Per-Henrik Kvalnes
 *
 ********************************************/

body
{
  background-color:#EEE;
  text-align:center;
  font-family:"Callibri","Sans-Serif";
}
h1
{
    color:rgb(0,50,131);
}


header
{
    text-align:left;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  height:60px;
  background-color:rgb(0,50,131);
}

header img
{
    position:relative;
    width:64px;
}

/*
 * Navigation bar
 */ 
#topMenu
{
  position:absolute;
  text-align:left;
  top:60px;
  height:40px;
  left:0px;
  right:0px;
  padding-left:5px;
  background-color:rgb(164,162,171);
}

#topMenu a
{
    position:relative;
    padding:5px;
    top:7px;
    margin:0px;
    border:1px solid rgb(164,162,171);
    font-family:sans;
    font-size:18px;
    color:#FFF;
    text-decoration:none;
    font-family:"Calibri Bold", "Sans-Serif";
}
#topMenu a:hover
{
    background-color:rgb(144,142,151);
}

section
{
    position:absolute;
    top:110px;
    left:0px;
    right:0px;
}

#content
{
    position:absolute;
    left:40px;
    right:40px;
    text-align:left;
}

/*
 * Input styling
 */
input
{
    border:2px solid rgb(0,50,131);
    font-size:20px;
    margin:5px;
    width:400px;
}
input[type=button]
{
    background-color:rgba(107,155,78,1);
    width:200px;
    color:#FFF;
}
input[type=button]:hover
{
    background-color:rgba(97,145,68,1);	
}
input[type=submit]
{
    background-color:rgba(107,155,78,1);
    color:#FFF;
    width:200px;
}
input[type=submit]:hover
{
    background-color:rgba(97,145,68,1);	
}
textarea
{
    border:2px solid rgb(0,50,131);
    font-size:20px;
    margin:5px;
    width:400px;
}

hr
{
    color:rgb(0,50,131);
}

/****************'
 * Login styling 
 *******************/

#loginTable
{
    margin-left:auto;
    margin-right:auto;
    background-color:rgba(154,162,171);
    padding:10px;
}


/******************************
 * POPUP Box styling
 ***************************/
.shadow
{
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    background-color:rgba(0,0,0,0.66);
}
.popup
{
    position:fixed;
    top:100px;
    bottom:50px;
    background-color:rgb(154,162,171);
    width:450px;
    height:250px;
    left:30%;
    right:30%;
    margin-left:auto;
    margin-right:auto;

}

