/**********************************************
 * CSS for how projects should be displayed
 * 
 * @author Per-Henrik Kvalnes
 ***********************************************/

/* myprojects view */
#myProjectList
{
    border:2px solid black;
}

/*****************************************************
 * Defines a subsection, used in project.html
 *****************************************************/
.subsection
{
    width:80%;
    border:2px solid #444;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    padding:2px;
}
.subsection h1
{
    font-size:22px;
    margin-top:0px;
    width:100%;
    background-color:#333;
    color:#FFF;
}
.subsection p
{
    margin:0px;
}

/** Project display mini tiles for the overview ***/
.projectMiniDisplay
{
    position:relative;
    margin:5px;
    border:1px solid black;
    width:300px;
    height:200px;
    display:inline-block;
    tekst-align:center;
    padding:0px;
}

.projectMiniDisplay p
{
    position:absolute;
    bottom:2px;
    left:2px;
    right:2px;
    margin:0px;

    color:#FFF;
    background-color:rgba(0,0,0,0.8);
    font-size:22px;
    padding:5px;
}

.projectMiniDisplay img
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

/** project view ***/
table
{
    font-size:22px;
    margin:0px;
}

table td
{
    min-width:230px;
    padding-right:15px;
}
