/**********************************************
 * CSS for how projects should be displayed
 * 
 * @author Per-Henrik Kvalnes
 ***********************************************/

/* myprojects view */
#myProjectList
{
    background:#FFF;
}

/*****************************************************
 * Defines a subsection, used in project.html
 *****************************************************/
.subsection
{
    position:relative;
    width:80%;
    border:2px solid rgb(0,50,131);
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    padding:2px;
    max-height:300px;
    overflow-y:scroll;
}
.subsection h1
{
    font-size:22px;
    margin-top:0px;
    width:100%;
    background-color:rgb(0,50,131);
    color:#FFF;
}
.subsection p
{
    margin:0px;
}


.subsection table
{
    font-size:22px;
    margin:0px;
}

.subsection table td
{
    min-width:230px;
    padding-right:15px;
}

.subsection img
{
    margin:0px;
    margin-left:4px;
    width:30px;
    background-color:rgba(107,155,78,1);
}

/** style upper right menu in sub sectoins **/
.upperRight
{
    position:absolute;
    right:6px;
    top:3px;
    text-align:right;
    height:20px;
}

.upperRight img
{
    height:20px;
}

/** comments in project.html **/

.comment a
{
    color:rgb(0,50,131);
    font-weight:bold;
}

/** span it not so important to display usaly the date **/
.comment span
{
    color:#AAA;
}

/** Project display mini tiles for the overview ***/
.projectMiniDisplay
{
    position:relative;
    margin:5px;
    border:2px solid rgb(0,50,131);
    box-shadow:1px 1px 5px #999;
    width:300px;
    height:200px;
    display:inline-block;
    tekst-align:center;
    padding:0px;
}

.projectMiniDisplay p
{
    position:absolute;
    bottom:2px;
    left:2px;
    right:2px;
    margin:0px;

    color:#FFF;
    background-color:rgba(0,50,131,0.8);
    font-size:22px;
    padding:5px;
}

.projectMiniDisplay img
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

