/**********************************************
 * CSS for how projects should be displayed
 * 
 * @author Per-Henrik Kvalnes
 ***********************************************/

/* myprojects view */
#myProjectList
{
    border:2px solid black;
}

.projectMiniDisplay
{
    position:relative;
    margin:5px;
    border:1px solid black;
    width:300px;
    height:200px;
    display:inline-block;
    tekst-align:center;
    padding:0px;
}

.projectMiniDisplay p
{
    position:absolute;
    bottom:2px;
    left:2px;
    right:2px;
    margin:0px;

    color:#FFF;
    background-color:rgba(0,0,0,0.8);
    font-size:22px;
    padding:5px;
}

.projectMiniDisplay img
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

/** project view ***/
table
{
    border:2px solid #555;
    padding:10px;
    font-size:22px;
    margin-left:auto;
    margin-right:auto;
}

table td
{
    padding:5px;
    padding-right:15px;
}
