/***********************************
 * CSS for traffic hall template 
 * templates/project_traffic.html
 * 
 * @author Per-Henrik Kvalnes 2014
 ***********************************/

.entry
{
    margin-top:5px;
    margin:10px;
    margin-bottom:25px;
    background-color:#FFF;
    padding:10px;
    border:1px solid #9AA2AB;

}

.entry p
{
    font-size:18px;
    display:inline;
}

.entry a
{
  color:rgb(0,50,131);
}
