/***********************************
 * CSS for traffic hall template 
 * templates/project_traffic.html
 * 
 * @author Per-Henrik Kvalnes 2014
 ***********************************/

.entry
{
    background-color:#FFF;
    broder:1px solid black;
    padding:2px;
    margin-top:5px;
}

.entry p
{
    font-size:18px;
    display:inline;
}

.entry a
{
  color:rgb(0,50,131);
}
